---
import InfiniteSlider from "./InfiniteSlider.svelte";
import { STACK } from "../../constants/stack";
import { STACK_ICON_MAP } from "../../constants/stack-icons";

const stackGroups = STACK.map((group) =>
  group.map((item) => ({
    label: item.name,
    icon: STACK_ICON_MAP[item.name],
  })),
);
---

<section id="stack">
  <div class="relative max-sm:-mx-6">
    <h2 class="sr-only">Stack</h2>
    {
      stackGroups.map((group, index) => (
        <div class="mb-4">
          <InfiniteSlider
            items={group}
            label="Technology stack"
            durationSeconds={20 + index * 2}
            reverse={index % 2 === 1}
            gapPx={16}
            client:load
          />
        </div>
      ))
    }
    <div
      class="pointer-events-none absolute inset-y-0 -left-px w-1/4 bg-linear-to-r from-background from-1px"
      aria-hidden="true"
    >
    </div>
    <div
      class="pointer-events-none absolute inset-y-0 -right-px w-1/4 bg-linear-to-l from-background from-1px"
      aria-hidden="true"
    >
    </div>
  </div>
</section>
