---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/navigation/Navigation.astro";
import ProjectCard from "../components/sections/ProjectCard.astro";
import { PROJECTS } from "@/constants/projects";
---

<BaseLayout
  title="Explore my Projects"
  description="Software Engineer who delivers enterprise systems end-to-end and a front-end creative at heart."
>
  <Navigation>
    <main class="space-y-12 min-h-[calc(100dvh-var(--spacing)*66)]">
      <div class="sm:pt-12">
        <h1 class="text-center">Stuff i'm working on</h1>
        <p
          class="text-pretty font-sans text-sm sm:text-base leading-6 text-muted-foreground text-center"
        >
          I love building seamless and visually engaging web experiences. Here
          are some of my projects that showcase my skills and creativity.
        </p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {PROJECTS.map((project) => (
          <ProjectCard project={project} />
        ))}
      </div>
    </main>
  </Navigation>
</BaseLayout>
